.progress-bar {
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  overflow: hidden;
  appearance: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: #e5e7eb; /* gray-200 */
  border-radius: 9999px;
}

.progress-bar::-webkit-progress-value {
  background-color: #46199b; /* brand-primary */
  border-radius: 9999px;
  transition: width 0.5s ease-out;
}

.progress-bar::-moz-progress-bar {
  background-color: #46199b;
  border-radius: 9999px;
  transition: width 0.5s ease-out;
}
